<p>
	Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} |
	<span class="credit">
		Powered by <a href="http://octopress.org">Octopress</a> | 
	</span>
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a> 本站采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">创作共用版权协议</a>进行许可 | 
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8eac03066cdab376a3a3875fb6fa3c8b' type='text/javascript'%3E%3C/script%3E"));
	</script>
</p>